.itemListItem {
    border: 0.5vmin solid var(--light-pink);
    border-radius: 3vmin;
    margin: 2vmin;
    width: 30vmax;
    text-transform: uppercase;
}

.imageContainer {
    margin: 2vmin;
    margin-top: 3vmin;
}

.image {
    width: 45vmin;
    height: 25vmin;
    border: none;
}

.itemInfoLine1,
.itemInfoLine2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 2vmin;
    margin-right: 1vmin;
    margin-left: 2.5vmin;
}

.itemInfoLine1 {
    font-size: 1.3vmax;
    margin-bottom: 1vmin;
    width: 27vmax;
}

button {
    color: var(--white);
    border-radius: 1vmin;
}

.btnSm {
    background-color: var(--hot-pink);
    border: .1vmin solid var(--hot-pink);
}

.btnDisabled {
    background-color: var(--text-pink);
    border: .1vmin solid var(--text-pink);
    cursor: not-allowed;
}

@media only screen and (max-width: 480px) {
    .imageContainer {
        margin-top: -2vmin;
    }

    .itemInfoLine1 {
        width: 80vmin;
    }
}