.order {
    text-align: center;
    margin: 5vmin 40vmin;

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }
}

.total {
    margin-top: 2vmin;
    font-size: 4vmin;
    text-align: right;
    margin-right: 1.5vmin;
}

.goToCheckout {
    margin-right: -106vmin;
    margin-bottom: 5vmin;
}