.checkoutForm {
    /* border: 0.3vmin solid var(--light-pink); */
    background-color: var(--light-pink);
    border-radius: 1vmin;
    display: flex;
    flex-direction: column;
    width: 90vmin;
    margin: 2vmin;
    padding: 10vmin 20vmin;
}

.checkoutForm h2 {
    margin-bottom: 2vmin;
    text-align: center;
}

.checkoutForm form {
    display: flex;
    flex-direction: column;
    padding: 3vmin;
}

.checkoutForm form input {
    margin-bottom: 1vmin;
}

.checkoutForm [name="email"] {
    margin-bottom: 3vmin;
}

.customerInfo {
    border-bottom: 0.3vmin solid var(--black);
    margin-bottom: 5vmin;
}

.checkoutForm button {
    margin-top: 2vmin;
    background-color: var(--hot-pink);
    width: 10vmin;
    padding: 1vmin;
    align-self: center;
}