.navBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-pink);
  padding: 5vmin;
}

.logo img, .cart img {
  cursor: pointer;
}

.title {
    font-family: sans-serif;
    font-size: 8vmin;
    -webkit-text-stroke-width: .3vmin;
    -webkit-text-stroke-color: var(--hot-pink);
    color: var(--light-pink);
    align-self: flex-end;
}

.title span {
    -webkit-text-stroke-width: .2vmin;
    -webkit-text-stroke-color: var(--black);
    font-size: 5vmin;
}

.cart img {
  height: 5vmin;
}

.cartAmt {
  background-color: var(--hot-pink);
  color: var(--white);
  border-radius: 50%;
  text-align: center;
  height: 2vmin;
  width: 2vmin;
  margin-left: -20vmin;
  font-size: 1.4vmin;
}

@media only screen and (max-width: 480px) {
  .navBarTop {
    margin-right: 15vmin;
  }
  
  .navBarBottom {
    font-size: 3.5vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
  }
}