.carousel {
    position: relative;
    border-radius: 10px;
    height: 25vmin;
    width: 25vmin;
    margin: auto;
    overflow: hidden;
}

.carousel img {
    width: 99%;
    height: 99%;
    border-radius: 1vmin;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    background-color: #fbfbfb75;
    color: #fff;
    padding: 10px 8px 8px 13px;
    margin: 0 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 10px;
    height: 25px;
    width: 25px;
}

.left:hover, .right:hover {
    background-color: rgba(251, 251, 251, 0.675);
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.left svg, .right svg {
    margin-top: -3vmin;
    margin-left: -1.3vmin;
}

@media only screen and (max-width: 1024px) {
    .left svg, .right svg {
        margin-top: -2vmin;
        margin-left: -1vmin;
    }
}