.homePage {
    min-height: 100vh;
    max-height: 100%;
    padding-top: 5vmin;
    /* background-image: url('https://images.pexels.com/photos/2099737/pexels-photo-2099737.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    /* background-image: url('https://images.pexels.com/photos/1517361/pexels-photo-1517361.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */
}